{% include 'components/flash_messages/flash_messages.html' %}
<h3 class="header">Add Category</h3>
<form class="form-container container" method="POST" action="{{ url_for('add_category')}}">
    <!-- Category Name -->
    <div class="form-group col">
        <label for="category_name">Category Name</label>
        <input type="text" class="form-control" id="category_name" name="category_name" min-length="3" max-length="25" placeholder="Category Name" required>
    </div>
    <!-- Cancel -->
    <a type="button" href="{{ url_for('manage') }}" class="btn btn-lg orange-btn">Cancel <i class="fas fa-window-close"></i></a>
    <!-- Add Review Submit -->
    <button type="submit" class="btn blue-btn btn-lg form-btn" value="submit">Add Category <i class="fas fa-plus-square"></i></button>
</form>