{% include 'components/flash_messages/flash_messages.html' %}
{% if sign_up == True %}
    <h3 class="header">Sign Up</h3>
    <form class="container form-container col-sm-12 col-md-8" method="POST" action="{{ url_for ('sign_up') }}">

{% else %}
    <h3 class="header">Log In</h3>
    <form class="container form-container col-sm-12 col-md-8" method="POST" action="{{ url_for ('login') }}">

{% endif %}
        <!-- Username -->
        <div class="form-group">
            <label for="username">Username <i class="fas fa-user"></i></label>
            <input type="text" class="form-control" id="username" name="username" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" placeholder="Username is not case sensitive" aria-label="username" autofocus required>
        </div>
        <!-- Password -->
        <div class="form-group">
            <label for="password">Password <i class="fas fa-key"></i></label>
            <input type="password" class="form-control" id="password" name="password" minlength="6" maxlength="20" pattern="^[A-Za-z0-9]{6,20}$" placeholder="Must be at least 6 characters long with no special characters e.g. @!%" aria-label="password" required>
        </div>
{% if sign_up == True %}
        <!-- Sign-Up -->
        <button type="submit" class="btn btn-lg blue-btn form-btn">Sign Up</button>
        <div class="form-help">
            <small>Already have an account? <a href="{{ url_for ('login') }}" aria-label="Link to Login">Log In</a></small>
        </div>
{% else %}
        <!-- Login -->
        <button type="submit" class="btn btn-lg orange-btn form-btn">Log In</button>
        <div class="form-help">
            <small>Don't have an account? <a href="{{ url_for ('sign_up') }}" aria-label="Link to Sign Up">Sign Up</a></small>
        </div>
{% endif %}
    </form>