{% include 'components/flash_messages/flash_messages.html' %}
    <h3 class="header">Edit Review</h3>
    <form class="form-container container" method="POST" action="{{ url_for('edit_review', review_id=review._id )}}">
    <!-- Name of Boots -->
    <div class="form-group col">
        <label for="name">Name of Boots</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ review.boots_name }}" placeholder="Boots Name" required>
    </div>
    <!-- Make -->
    <div class="form-group col">
        <label for="make_id">Make</label>
        <select class="custom-select form-control" id="make_id" name="make_id" required>
            <option value="" selected disabled>Choose...</option>
            {% for make in makes %}
                {% if make.name == review.make %}
                    <option value="{{make.name}}" aria-label="Make name" selected>{{make.name}}</option>
                {% else %}
                    <option value="{{make.name}}" aria-label="Make name">{{make.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>  
    <!-- Image URL -->
    <div class="form-group col">
        <label for="image_url">Image URL</label>
        <input type="text" class="form-control" id="image_url" name="image_url" value="{{ review.image_url }}" placeholder="Paste URL here" required>
    </div>
    <!-- Category -->
    <div class="form-group col">
        <label for="category">Category</label>
        <select class="custom-select form-control" id="category" name="category" required>
            <option value="" disabled>Choose...</option>
            {% for category in categories %}
                {% if category.catgory_name == review.category %}
                    <option value="{{category.category_name}}" selected>{{category.category_name}}</option>
                {% else %}
                    <option value="{{category.category_name}}">{{category.category_name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <!-- Date of Review -->
    <div class="form-group col">
        <label for="review_date">Date of Review</label>
        <input type="date" class="form-control" id="review_date" name="review_date" value="{{ review.review_date }}" required>
    </div>
    <!-- Star Rating -->
    <div class="form-group col">
        <label for="star_rating_id">Star Rating</label>
        <select class="custom-select form-control" id="star_rating_id" name="star_rating_id" required>
            <option value="" selected disabled>Choose...</option>
            {% for star_rating in stars %}
                {% if star_rating.rating == review.star_rating_id %}
                    <option value="{{star_rating.rating}}" selected>{{star_rating.rating}}</option>
                {% else %}
                    <option value="{{star_rating.rating}}">{{star_rating.rating}}</option>
                {% endif %}
            {% endfor %} 
        </select>
    </div>
    <!-- Review -->
    <div class="form-group col">
        <div class="form-row justify-content-center">
            <label for="review">Review</label>
        </div>
        <div class="form-row">
            <textarea class="form-control" id="review" name="review" minlength="50" maxlength="300" value="{{ review.review }}" placeholder="Please write a little about your experience wearing these boots (min. 50 characters)" aria-label="Review text box" rows="3" required>{{ review.review }}</textarea>
        </div>
    </div>
    <!-- Cancel -->
    <a type="button" href="{{ url_for('reviews') }}" class="btn btn-lg orange-btn">Cancel <i class="fas fa-window-close"></i></a>
    <!-- Edit Review -->
    <button type="submit" class="btn blue-btn btn-lg" id="submit-add-review" value="submit">Edit Review <i class="fas fa-edit"></i></button>
</form>