{% include 'components/flash_messages/flash_messages.html' %}
<h3 class="header">Edit Make</h3>
<form class="form-container container" method="POST" action="{{ url_for('edit_make', make_id=make._id )}}">
    <!-- Make Name -->
    <div class="form-group col">
        <label for="name">Make Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ make.name }}" min-length="3" max-length="25" placeholder="Make Name" required>
    </div>
    <!-- Cancel -->
    <a type="button" href="{{ url_for('manage') }}" class="btn btn-lg orange-btn">Cancel <i class="fas fa-window-close"></i></a>
    <!-- Add Make Submit -->
    <button type="submit" class="btn blue-btn btn-lg" id="submit-add-review" value="submit">Edit Make <i class="fas fa-edit"></i></button>
</form>