<!-- Search Input -->
<form action="{{ url_for('search') }}" method="POST" class="row card section-container">
    <div class="row">
        <div class="col-3">
            <label id="search-label" for="search">Search Reviews</label>
        </div>
        <div class="col-9 justify-content-start">
            <input type="text" name="search" id="search" minlength="3" placeholder="Search by User, Boots, Make or Category" required>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Reset Button -->
            <a type="button" href="{{ url_for('reviews') }}" class="btn blue-btn btn-lg" aria-label="Reset search button">Reset</a>
            <!-- Search Button -->
            <button type="submit" class="btn btn-lg orange-btn">Search</button>
        </div>
    </div>
</form>