{% extends 'layout/base.html' %}
{% block content %}
    {% include 'components/navigation/nav.html' %}
    {% include 'components/flash_messages/flash_messages.html' %}
    <h3>Add Category</h3>
    <form id="form-container" class="container was-validated" method="POST" action="{{ url_for('add_category')}}" novalidate>
        <!-- Category Name -->
        <div class="form-group col">
            <label for="category_name">Category Name</label>
            <input type="text" class="form-control" id="category_name" name="category_name" min-length="3" max-length="25" placeholder="Category Name" required>
        </div>
        <!-- Cancel -->
        <a type="button" href="{{ url_for('manage') }}" class="btn btn-lg btn-danger">Cancel</a>
        <!-- Add Review Submit -->
        <button type="submit" class="btn btn-primary btn-lg" id="submit-add-review" value="submit">Add Category</button>
    </form>
    {% include 'components/footer/footer.html' %}
{% endblock %}