{% extends 'layout/base.html' %}
{% block content %}
<div class="container-fluid" id="home-container">
    <div id="hero-image-home"></div>
    <div id="landing-messages">
        <h2 class="header">Share your experiences of your favourite football boots here!</h2>
        <p id="description-paragraph">
            Boots Review is a community built around a common passion for football boots. 
            Whether you play Soccer, Gaelic Football, Hurling, Rugby or just enjoy a good pair of football boots, 
            this is the place for you. You can easily browse our collection of reviews of the best 
            football boots and even review your own favourite pair.
        </p>
        <h3 class="sub-header">Sing Up now to write your first review!</h3>
        <a href="#" class="btn btn-lg">Sign Up</a>
        <a href="#" class="btn btn-lg">Log In</a>
    </div>
</div>
{% endblock %}