{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/nav.html' %}
{% include 'components/flash_messages/flash_messages.html' %}

<h2 class="header">{{ username }}'s Profile</h2>

<div class="container justify-content-center">
    {% include 'components/profile/profile-container.html' %}
    <!-- User's Reviews -->
    <h3 class="header">Your Reviews</h3>
    <div class="row justify-content-center">
        <a class="btn btn-lg blue-btn" href="{{ url_for('add_review')}}" aria-label="Add review button">
            Add Review <i class="fas fa-plus-square"></i>
        </a>
    </div>
    {% include 'components/profile/profile-review-card.html' %}
</div>
{% include 'components/footer/footer.html' %}
{% endblock %}