<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-6 justify-content-center">
                <ul class="contact">
                    <li>
                        <a href="tel:00355552536879" target="_blank">
                            <span class="footer-contact">05552536879</span><i class="fas fa-phone-square-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:yusuffrih@hotmail.com" target="_blank">
                            <span class="footer-contact">yusuffrih@hotmail.com</span><i class="fas fa-envelope-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 cold-md-6 col-lg-6 justify-content-center">
                <ul class="social-media">
                    <li>
                        <a href="https://www.facebook.com/yusuffrih" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/yusuffrih" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/yusuffrih" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>