@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Play', 'Roboto', sans-serif;
    text-align: center;
}

/* Home Page */

#home-container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

#hero-image-home {
    background-image: url('../images/boots-images/hero-image-home/hero-image-home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #21C2FD;
    height: 100vh;
    width: 100%;
}

#landing-messages {
    padding-top: 25px;
    position: absolute;
    top: 0%;
    left: 10%;
    width: 80%;
    color: white;
    margin: 0 auto;
}

.login-signin {
    background-color: #ECEAEC;
    border: 2px solid #0B0909;
}

/* Navbar  */

.navbar {
    background-color: #0B0909;
}