@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Play', 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Headers */

.header {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 20px;
    text-shadow: 2px 2px #0b090918;
    text-transform: capitalize;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: underline;
}

#profile-bio-title {
    margin-top: 1rem;
    text-shadow: 2px 2px #0b090918;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
}

/* Home Page */

#home-container {
    background-image: url('../images/boots-images/hero-image-home/hero-image-home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0B0909;
    height: 75vh;
    width: 100%;
    border: 2rem solid #0B0909;
    position: relative;
}

#tint {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0b09094f;
    width: 100%;
    height: 100%;
}

#landing-messages {
    padding-top: 25px;
    position: relative;
    width: 80%;
    color: white;
    margin: 0 auto;
}

.login-btn,
.signup-btn {
    border: 2px solid #0B0909;
    border-radius: 0.75rem;
    margin: 0 4px 0 4px;
    min-width: 10rem;
}

.login-btn:hover,
.signup-btn:hover{
    border: 2px solid #FFFFFF;
    background-color: #0B0909;
    color: #FFFFFF;
    transition: 1s;
}

.login-btn {
    background-color: #e98d50;
}

.signup-btn {
    background-color: #67b7e6;
}

/* Footer */

footer {
    background-color: #0B0909;
    margin-top: auto;
}

.contact,
.social-media {
    list-style: none;
    margin: 5px;
    padding-left: 0;
}

.contact li,
.social-media li
 {
    display: inline-block;
    padding: 5px;
    margin: 4px;
    font-size: 2rem;
}

.contact li a,
.social-media li a {
    color: #e98d50;
    font-size: 100%;
}

.footer-contact {
    font-size: 100%;
    vertical-align: top;
    padding-right: 4px;
}

/* Navbar  */

.navbar-dark .navbar-brand {
    color: #e98d50;
    text-transform: uppercase;
    text-shadow: 2px 2px #67b7e6;
    font-weight: 900;
    font-size: 3rem;
}

.navbar-dark .navbar-brand:hover {
    color: #67b7e6 ;
    text-shadow: 2px 2px#e98d50;
}

.navbar {
    background-color: #0B0909;
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link {
    color: #e98d50;
    border-color: #e98d50;
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #67b7e6 ;
    text-shadow: 2px 2px#e98d50;
}

/* Buttons */

.btn-lg {
    font-size: 2rem;
}

.edit-btn {
    background-color: #8a8784;
    color: #fff;
    margin: 2px;
}

.delete-btn {
    background-color: #d60f22;
    color: #fff;
    margin: 2px;
}

.review-card button:hover {
    background-color: #e98d50;
    border: 1px solid #fff;
    transition: 0.5s;
}

/* Forms */

.form-container {
    background-color: #ECEAEC;
    color: #0B0909;
    border: 2px solid #0B0909;
    border-radius: 1.5rem;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 10px 10px #0b090918;
}

.form-control {
    font-size: 1.6rem;
}

.form-help {
    color: rgba(50, 50, 50, 0.5);
}

/* Flash messages */

#flash-message {
    background-color: #0B0909;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 5px 5px #0b090918;
}

/* Profile Page */

#profile-card {
    min-width: 20rem;
    min-height: 20rem;
    border: 1px #0B0909 solid;
    border-radius: 0.75rem;
    background-color: #ECEAEC;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

#profile-card img {
    margin: 5px auto;
    border-radius: 1.5rem;
    box-shadow: 2px 2px #0b090918;
    border-bottom: 1px #0B0909 solid;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18rem;
    width: 18rem;
}

.review-card {
    border: 1px #0B0909 solid;
    border-radius: 0.75rem;
    background-color: #ECEAEC;
    margin: 1.6rem;
}

.review-card img {
    margin: 5px auto;
    border-radius: 0.75rem;
    box-shadow: 2px 2px #0b090918;
    border-bottom: 1px #0B0909 solid;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: 20rem;
}

.review-card .card-body {
    margin-top: 0;
    padding: 0;
    padding-bottom: 0.75rem;
    color: #0B0909;
    background-color: #67b7e6;
    border-radius: 0.75rem;
}

.review-card h3 {
    background-color: #0B0909;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    padding-top: 0;
}

#bio-section {
    padding: 0 2rem 0 2rem;
}

#profile-bio {
    height: 10em;
    display: flex;
    text-align: start;
}

#submit-add-review {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* manage section */
.section-container {
    background-color: #0B0909;
    color: #FFFFFF;
    border-radius: 1.5rem;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px #0b090918;
}

.manage-card {
    background-color: #ECEAEC;
    color: #0B0909;
    text-shadow: 2px 2px #0b090918;
}

/* Reviews Page */

#search {
    width: 100%;
    border-radius: 0.75rem;
}

/* modals */

.modal-content {
    color: #0B0909;
}

/* Responsive Design */

@media screen and (max-width:767px) and (min-width:575px) {
    .review-card img {
        width:15rem;
        height: 15rem;
    }
    .review-card .card-body {
        font-size: 1.5rem;
    }
    #profile-card {
        margin-right: 0;
    }
}

@media screen and (max-width:575px) {
    #profile-card {
        margin-right: 0;
    }
}

@media screen and (max-width:474px) {
    #profile-bio {
        font-size: 1.6rem;
    }
    #profile-card {
        margin-right: 0;
    }
}

@media screen and (max-width:396px) {
    #profile-bio {
        font-size: 1.3rem;
    }
    #profile-card {
        margin-right: 0;
    }
}

@media screen and (max-width:321px) {
    .review-card img {
        width:15rem;
        height: 15rem;
    }
    .review-card .card-body {
        font-size: 1.5rem;
    }
    #search-label {
        font-size: 1.6rem ;
    }
    #profile-container {
        height: 30em;
    }
    #profile-card {
        margin-right: 0;
    }
}

@media screen and (max-width:286px) {
    .contact li, .social-media li{
        font-size: 1.6rem;
    }
}