@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Play', 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Headers */

h3 {
    font-size: 3rem;
    margin-top: 20px;
}

/* Home Page */

#home-container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

#hero-image-home {
    background-image: url('../images/boots-images/hero-image-home/hero-image-home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #21C2FD;
    height: 100vh;
    width: 100%;
}

#landing-messages {
    padding-top: 25px;
    position: absolute;
    top: 0%;
    left: 10%;
    width: 80%;
    color: white;
    margin: 0 auto;
}

.login-signup {
    background-color: #ECEAEC;
    border: 2px solid #0B0909;
}

/* Footer */

footer {
    background-color: #0B0909;
    margin-top: auto;
}

.contact,
.social-media {
    list-style: none;
    margin: 5px;
    padding-left: 0;
}

.contact li,
.social-media li
 {
    display: inline-block;
    padding: 5px;
    margin: 4px;
    font-size: 2rem;
}

.contact li a,
.social-media li a {
    color: #FFFFFF;
    font-size: 100%;
}

.footer-contact {
    font-size: 100%;
    vertical-align: top;
    padding-right: 4px;
}

/* Navbar  */

.navbar {
    background-color: #0B0909;
}

.navbar-brand {
    font-size: 3rem;
}

/* Components */

.btn-lg {
    font-size: 2rem;
}


