@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --rich-black-fogra : #0B0909;
    --white:#FFFFFF;
    --platinum:#ECEAEC;
    --aero-blue:#67B7E6;
    --persian-orange:#E98D50;

    --delete-red:#d60f22;
    --edit-grey:#8a8784;

    --transparent-black:#0b090918;

    --transition: 0.5s;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Play', 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Headers */

.header {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 20px;
    text-shadow: 2px 2px var(--transparent-black);
    text-transform: capitalize;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: underline;
}

#profile-bio-title {
    margin-top: 1rem;
    text-shadow: 2px 2px var(--transparent-black);
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
}

#no-result {
    color: var(--delete-red);
}

/* Home Page */

#home-container {
    background-image: url('../images/boots-images/hero-image-home/hero-image-home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--rich-black-fogra);
    height: 75vh;
    width: 100%;
    border: 2rem solid var(--rich-black-fogra);
    position: relative;
}

#tint {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--rich-black-fogra);
    width: 100%;
    height: 100%;
}

#landing-messages {
    padding-top: 25px;
    position: relative;
    width: 80%;
    color: var(--white);
    margin: 0 auto;
}


/* Footer */

footer {
    background-color: var(--rich-black-fogra);
    margin-top: auto;
}

.contact,
.social-media {
    list-style: none;
    margin: 5px;
    padding-left: 0;
}

.contact li,
.social-media li
 {
    display: inline-block;
    padding: 5px;
    margin: 4px;
    font-size: 2rem;
}

.contact li a,
.social-media li a {
    color: var(--persian-orange);
    font-size: 100%;
}

.footer-contact {
    font-size: 100%;
    vertical-align: top;
    padding-right: 4px;
}

/* Navbar  */

.navbar-dark .navbar-brand {
    color: var(--persian-orange);
    text-transform: uppercase;
    text-shadow: 2px 2px var(--aero-blue);
    font-weight: 900;
    font-size: 3rem;
}

.navbar-dark .navbar-brand:hover {
    color: var(--aero-blue) ;
    text-shadow: 2px 2px var(--persian-orange);
}

.navbar {
    background-color: var(--rich-black-fogra);
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link {
    color: var(--persian-orange);
    border-color: var(--persian-orange);
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--aero-blue) ;
    text-shadow: 1px 1px var(--persian-orange);
}

/* Buttons */

.btn {
    font-size: 1.6rem;
}

.orange-btn,
.blue-btn {
    border: 2px solid var(--rich-black-fogra);
    border-radius: 0.75rem;
    margin: 0 4px 0 4px;
    min-width: 10rem;
}

.orange-btn:hover,
.blue-btn:hover{
    border: 2px solid var(--white);
    background-color: var(--rich-black-fogra);
    color: var(--white);
    transition: var(--transition);
}

.orange-btn {
    background-color: var(--persian-orange);
}

.blue-btn {
    background-color: var(--aero-blue);
}

.btn-lg {
    font-size: 2rem;
}

.edit-btn {
    background-color: var(--edit-grey);
    color: var(--white);
    margin: 2px;
}

.delete-btn {
    background-color: var(--delete-red);
    color: var(--white);
    margin: 2px;
}


.review-btn{
    background-color: var(--persian-orange);
    border: 1px solid var(--white);
}

.review-btn:hover {
    background-color: var(--platinum);
    border: 1px solid var(--rich-black-fogra);
    transition: var(--transition);
}

.review-btn i {
    font-size: 2rem;
}

/* Forms */

.form-container {
    background-color: var(--platinum);
    color: var(--rich-black-fogra);
    border: 2px solid var(--rich-black-fogra);
    border-radius: 1.5rem;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 10px 10px var(--transparent-black);
}

.form-control {
    font-size: 1.6rem;
}

.form-help {
    color: var(--transparent);
}

/* Flash messages */

#flash-message {
    background-color: var(--rich-black-fogra);
    color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px var(--transparent-black);
}

/* Profile Page */

#profile-card {
    min-width: 20rem;
    min-height: 20rem;
    border: 1px var(--rich-black-fogra) solid;
    border-radius: 0.75rem;
    background-color: var(--platinum);
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

#profile-card img {
    margin: 5px auto;
    border-radius: 1.5rem;
    box-shadow: 2px 2px var(--transparent-black);
    border-bottom: 1px var(--rich-black-fogra) solid;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18rem;
    width: 18rem;
}

.review-card {
    border: 1px var(--rich-black-fogra) solid;
    border-radius: 0.75rem;
    background-color: var(--persian-orange);
    margin: 1.6rem;
}

.review-card img {
    margin: 5px auto;
    border-radius: 0.75rem;
    box-shadow: 2px 2px var(--transparent-black);
    border-bottom: 1px var(--rich-black-fogra) solid;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: 20rem;
}

.review-card .card-body {
    margin-top: 0;
    padding: 0;
    padding-bottom: 0.75rem;
    color: var(--rich-black-fogra);
    background-color: var(--aero-blue);
    border-radius: 0.75rem;
}

.review-card h3 {
    background-color: var(--rich-black-fogra);
    color: var(--white);
    margin-top: 0;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    padding-top: 0;
}

#bio-section {
    padding: 0 2rem 0 2rem;
}

.profile-bio {
    height: 10em;
    text-align: start;
}

.form-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#profile-icon {
    font-size: 8rem;
    color: var(--rich-black-fogra);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* manage section */
.section-container {
    background-color: var(--rich-black-fogra);
    color: var(--white);
    border-radius: 1.5rem;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px var(--transparent-black);
}

.manage-card {
    background-color: var(--persian-orange);
    color: var(--rich-black-fogra);
    border: 2px solid var(--aero-blue);
    text-shadow: 2px 2px var(--transparent-black);
}

.manage-card:hover {
    background-color: var(--aero-blue);
    color: var(--rich-black-fogra);
    border: 2px solid var(--persian-orange);
}

/* Reviews Page */

#search {
    width: 100%;
    border-radius: 0.75rem;
}

/* modals */

.modal-content {
    color: var(--rich-black-fogra);
}

.modal-header,
.modal-footer,
.close {
    background-color: var(--rich-black-fogra);
    color: var(--white);
}

.close:hover{
    color: red;
}

.modal-content {
    background-color: var(--persian-orange);

}

/* Responsive Design */

@media screen and (max-width:767px) and (min-width:575px) {
    .review-card img {
        width:15rem;
        height: 15rem;
    }
    .review-card .card-body {
        font-size: 1.5rem;
    }
    #profile-card {
        margin-right: 0;
    }
}

@media screen and (max-width:575px) {
    #profile-card {
        margin-right: 0;
    }
}

@media screen and (max-width:501px) {
    .profile-bio {
        font-size: 1.6rem;
    }
    #profile-card {
        margin-right: 0;
    }
}

@media screen and (max-width:396px) {
    .profile-bio {
        font-size: 1.3rem;
    }
    #profile-card {
        margin-right: 0;
    }
    #bio-section {
        margin-bottom: 2rem;
        margin-top: -2rem;
    }
}

@media screen and (max-width:330px) {
    .review-card img {
        width:11rem;
        height: 11rem;
    }
    .review-card .card-body {
        font-size: 1.5rem;
    }
    #search-label {
        font-size: 1.6rem ;
    }
    #profile-container {
        height: 30em;
    }
    #profile-card {
        margin-right: 0;
    }
    #profile-card img{
        width:11rem;
        height: 11rem;
    }
    #profile-bio-title {
        font-size: 1.6rem;
    }
    #bio-section {
        margin-bottom: 8rem;
        margin-top: -8rem;
    }
    .navbar-dark .navbar-brand {
        font-size: 2rem;
    }
}

@media screen and (max-width:286px) {
    .contact li, .social-media li{
        font-size: 1.6rem;
    }
}

@media screen and (max-width:270px) {
    #profile-icon {
        font-size: 5rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    #profile-card.card {
        min-width: 0;
        min-height: 0;
    }
    .navbar-dark .navbar-brand {
        font-size: 2rem;
    }
    .contact li, .social-media li{
        font-size: 1.4rem;
    }
    #bio-section {
        margin-bottom: 8rem;
        margin-top: -8rem;
    }
    .profile-bio {
        font-size: 1.3rem;
    }
}