 <!-- Navbar from Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="{{ url_for('home_page') }}">Boots Review</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home_page') }}">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('reviews') }}">
            Reviews
          </a>
        </li>
        <!-- If Logged In -->
      {% if session.user %}
        <li class="nav-item">
            <a class="nav-link" href="#">
              Profile
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Add Review
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home_page') }}">
            Logout
          </a>
        </li>
        <!-- If Not Logged In -->
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('log_in') }}">
            Log In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sign_up') }}">
            Sign Up
          </a>
        </li>
      {% endif %}
      </ul>
  </div>
</nav>

